body {
    background: #81aada;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    height: 100%;
    margin: auto 0;
}

i {
    font-size: 8em;
    padding: 30px;
    background-color: #7994bdb7;
    border-radius: 5%;
    /* border: 2px solid #ccc;
    border-radius: 10%;
    padding: 30px; */
    
}    

#wins, #losses, #total, #target {
    color: #000000a1;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.directions {
    line-height: 200%;
    font-size: 1.1em;
}

.title {
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
    padding-top: 20px;
    text-align: center;
    color: #000000d2;

   
}

.row {
    padding: 10px;
}

html::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .75;
    height: 100%;
    width: 100%;

}

.btn-primary-outline {
    background-color: transparent;
    color: #d7e4f8;

}

.btn-primary-outline:hover {
    color: white;

}



